@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
    @model Product
}

<main class="flex-grow container mx-auto py-8">
    <h1 class="text-3xl font-semibold mb-6 text-center text-gray-700">Update Product</h1>
    <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="Edit" class="max-w-2xl mx-auto bg-white p-6 rounded shadow-md">
        <input type="hidden" name="_method" value="PATCH" />
        <div class="mb-4">
            <label for="image" class="block text-gray-700 font-medium mb-2">Product Image</label>
            <input type="file" id="imageFile" name="imageFile"
                   class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            <span asp-validation-for="Image"></span>
        </div>
        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-medium mb-2">Product Name</label>
            <input asp-for="Name" type="text" id="name"
                   class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4">
            <label for="price" class="block text-gray-700 font-medium mb-2">Price</label>
            <input asp-for="Price" type="number" id="price"
                   class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4">
            <label for="count" class="block text-gray-700 font-medium mb-2">Count</label>
            <input asp-for="Count" type="number" id="count"
                   class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 font-medium mb-2">Description</label>
            <textarea asp-for="Description" id="description"
                      class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        </div>
        <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Update Product</button>
        </div>
    </form>

</main>