@model productsApp.Models.Product

@{
    ViewData["Title"] = "Məhsulu Redaktə Et";
}

<div class="max-w-lg mx-auto bg-white shadow-md rounded-lg p-6">
    <h2 class="text-xl font-semibold mb-4">Məhsulu Redaktə Et</h2>
    <form method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-4">
            <label asp-for="Name" class="block text-sm font-medium text-gray-700">Ad</label>
            <input asp-for="Name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <span asp-validation-for="Name" class="text-red-500 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Price" class="block text-sm font-medium text-gray-700">Qiymət</label>
            <input asp-for="Price" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <span asp-validation-for="Price" class="text-red-500 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Count" class="block text-sm font-medium text-gray-700">Say</label>
            <input asp-for="Count" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <span asp-validation-for="Count" class="text-red-500 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Description" class="block text-sm font-medium text-gray-700">Təsvir</label>
            <textarea asp-for="Description" rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
            <span asp-validation-for="Description" class="text-red-500 text-sm"></span>
        </div>

        <div class="mb-4">
            <label for="CategoryId" class="block text-sm font-medium text-gray-700">Kateqoriya</label>
            @Html.DropDownList("CategoryId",
        new SelectList(ViewBag.Categories, "Id", "Title"),
        "Kateqoriya seçin",
        new { @class = "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" })
            <span asp-validation-for="CategoryId" class="text-red-500 text-sm"></span>
        </div>


        <div class="mt-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Yadda Saxla</button>
            <a asp-action="Index" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 ml-2">Geri</a>
        </div>
    </form>
</div>
