<!DOCTYPE html>
<html lang="az">
<head>
    @await Html.PartialAsync("_Head")
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="min-h-screen flex flex-col">
        @await Component.InvokeAsync("Header")
        <main class="flex-grow container mx-auto px-4 py-6">
            @RenderBody()
        </main>
        @await Html.PartialAsync("_Scripts")
        @await Component.InvokeAsync("Footer")
    </div>
    @RenderSection("PageScripts", required: false)
</body>
</html>
